$color_green: #418F84;
$color_yellow: #F9A825;

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    background: $color_green;
    padding: 1%;
    text-align: center;
    font-size: 110%;
        h1 {
            color: $color_yellow;
        }
}

#footer {
    background: $color_green;
    padding: 1%;
    font-size: 100%;
    width: 98%;
    position: absolute;
    bottom: 0px;
        .footer_title {
            display: flex;
            justify-content: space-between;
            }
                h3 {
                    color: $color_yellow;
                }
}


